<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <% if(locals.currentUser) { %>
        <a href="/logout">Log Out</a>
        <a href="/profile">Profile</a>
        <a href="/newMessage">New Message</a>
        <% } else { %>
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
        <% } %> 
    </body>
</html>