<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <link rel="stylesheet" href="/headerStyles.css">
        <link rel="stylesheet" href="/loginStyles.css">
    </head>
    <body>
        <%- include('./partials/header.ejs') %>
        <main>
            <h1 class="title"><%= title %></h1>
            <form action="login" method="post" class="login form">
                <label for="username" class="login label">Username:</label>
                <input type="text" id="username" name="username" maxlength="15" class="login input" required>
                <label for="password" class="login label">Password:</label>
                <input type="password" id="password" name="password" maxlength="15" class="login input" required>
                <button type="submit">Log In</button>
            </form>
            <%- include('./partials/errors.ejs') %>
        </main>
    </body>
</html>