<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <%- include('./partials/errors.ejs') %>
        <form action="login" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" maxlength="15" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" maxlength="15" required>
            <button type="submit">Log In</button>
        </form>
    </body>
</html>