<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%=title%></title>
    </head>
    <body>
        <h1><%=title%></h1>
        <form action="<%=route%>" method="post">
            <label for="secret">Enter Secret:</label>
            <input type="password" id="secret" name="<%=route%>" minlength="1" maxlength="10" required>
            <buttonn type="Submit">Submit</button>
        </form>
    </body>
</html>