main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 10px;
}

.secret.form {
    border: 2px solid black;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.secret.label {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.secret.input {
    font-size: 1rem;
    margin-bottom: 10px;
}

.secret.form > button {
    font-size: 1rem;
    padding: 5px 15px;
    align-self: center;
}